<html lang='en'>

  <body style='margin: 0;'>
    <table class='email-wrapper'>
      <tr>
        <td class='logo-wrapper'>
        </td>
      </tr>
      <tr>
        <td class='section'>
          <table>
            <tr>
              <td class='title'>
                Message</td>
            </tr>
            <tr>
              <td>
                <p class='desc'>
                  <span style='font-weight: 700'>Hi
                    <a href='mailto:{{name}}' style='color: #FFF;'>
                      {{name}}</a>,</span>
                  there was a message sent to you from Target Align OKR
                  <span style='font-weight: 700'><a style='color: #FFF'>
                      "{{message}}"</a></span>
                  Click the link below to go to the message.
                </p>
              </td>
            </tr>
            <tr>
              <td style='text-align: center;'>
                {{!-- <a href="{{link}}" class="btn">Reply</a> --}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>

</html>